body {
  background: peachpuff;
  color: black;
}

.container {
  display: flex;
  position: relative;
  width: 600px;
  height: 800px;
  border: 1px solid;
  padding: 10px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.a {
  width: 580px;
  height: 150px;
  border: 1px solid;
  margin: 0 auto;
  background-color: green;
}

.h {
  width: 580px;
  height: 450px;
  border: 1px solid;
  margin: 0 auto;
  background-color: orange;
}

.b, .c, .d, .e, .f, .g {
  width: 185px;
  height: 170px;
  border: 1px solid;
  margin: 2px;
  background-color: gray;
}