body {
  background: gray;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  min-height: 15vh;
  border: 2px solid black;
  margin: 1em;
}

.b {
  min-height: 60vh;
  border: 2px solid black;
  margin: 1em;
  flex-grow: 4;
}

.c {
  min-height: 15vh;
  border: 2px solid black;
  margin: 1em;
}

/*@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}